@font-face{
    src: url(../font/Inter/static/Inter-Regular.ttf);
    font-family: Inter;
}
@font-face{
    src: url(../font/Poppins/Poppins-Light.ttf);
    font-family: Poppins;
}
body{
    cursor: pointer;
}
 *{
    padding: 0;
    margin: 0;
    font-family: "inter";
    } 
.login-btn{
    border: 1px solid #B6B6B6;
    border-radius: 15px;
    padding: 5px 17px;
    background: white;
}

.signup-btn{
    border: 1px solid #2D2D2D;
    color: white;
    background: black;
    border-radius: 15px;
    padding: 5px 17px;
}
.nav-item a{
    color: rgba(11, 11, 11, 1) !important;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins" !important;
   }
 .nav-item a:hover{
    color: #29ABE2 !important;
   

}
 .nav-item .active {
    color: #29ABE2 !important;
  
}
.college-nav-shadow {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
}
/******************************college-info****************************/
#college-info .img-bg{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    border: 0px;
}
#college-info h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #2B2B2B;
}
#college-info h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #2B2B2B;
}
#college-info h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #A7A7A7;
    }
#college-info h6::before{
    content: "";
    display: inline-block;
    background-color: #1DB954;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-right: 4px;
}
#college-info h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #2B2B2B;
    }
#college-info .write-review-btn{
    background: #FFD600;
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    border: transparent;
}
#college-info .follow-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #FF0000;
}
#college-info .icon-border{
    border: 1px solid #29ABE2;
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    border-radius: 50px;
}
#college-info .Brochures-btn{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FFA31A;
    border-radius: 10px;
    border: transparent;
}
#college-info .apply-now{
    background: #29ABE2;
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: transparent;
}
/***********************end of college info****************************/
/*********************tabs********************************/
#main-tabs nav > .nav.nav-tabs{
    border: none;
     color:rgba(59, 58, 64, 1);
     background: rgba(244, 244, 244, 0.7);
     border-radius:0;
 
 }
 #main-tabs .nav-tabs a{
     color:rgba(59, 58, 64, 1) !important;
     font-size: 16px;
     font-family: "Poppins";
     font-weight: 400;
     padding: 18px ;
     text-align: center;
 }
 
 #main-tabs div a.nav-item.nav-link.active
 {
   border-top: 5px solid #29ABE2;
    text-align: center;
     color:rgba(41, 171, 226, 1) !important;
     background: #ffffff;
     border-radius:0;
     font-size: 16px;
     font-family: "Poppins";
     font-weight: 600;
     box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);;
 }
 
 #main-tabs nav > div a.nav-item.nav-link.active:after
  {
   content: "";
   position: relative;
   bottom: -54px;
   left: -32%;
   /*border: 11px solid transparent;*/
   border-top-color: #ffffff;
   box-shadow: 0 0 0px #e5e5e5;
 }
 #main-tabs #nav-tabContent .tab-content{
   background: #fdfdfd;
     line-height: 25px;
     padding:30px 25px;
     box-shadow: 0 0 5px #e5e5e5;
   
 }
 
 #main-tabs nav > div a.nav-item.nav-link:hover,
 #main-tabs nav > div a.nav-item.nav-link:focus
 {
    background:rgba(255, 255, 255, 1);
     color:rgba(59, 58, 64, 1);
     
 }
  #jee-main-overview{
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 }
 #jee-main-overview{
     height: 500px;
 }
 #jee-main-overview h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
 }
 #jee-main-overview ul{
     list-style: none;
     
 }
 #jee-main-overview li a{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #29ABE2;
 }
 #jee-main-overview a.active{
    background: #EFEFEF;
    mix-blend-mode: normal;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F1F;
    padding: 15px;
 }
 #jee-main-overview a.active{
    
 }
  .tab-pane-overview{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
 }
 .img-bg{
    border: 1px solid #29ABE2;
    border-radius: 50%;
    padding: 5px;
}
#jee-main-detail h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#jee-main-detail p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    color: #3B3A40;
}
#jee-main-detail .btn{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #29ABE2;
    border-radius: 2px;
}
#JEE-Main-Highlights h5{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1DB954;
}
#JEE-Main-Highlights h5::before{
    content: "";
    display: inline-block;
    background-color: #1DB954;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    margin-right: 3px;
}
#JEE-Main-Highlights p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2B2B2B;
}
#JEE-Main-Registration p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    color: #3B3A40;
}
#JEE-Main-Exam-Pattern p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    color: #3B3A40;
}
#Top-Colleges h5{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

#Top-Colleges h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #29ABE2;
}
#Top-Colleges .score-bg {
    text-align: center;
    background: rgba(41, 171, 226, 0.2);
    border-radius: 2px;
    width: 48px;
}
#Top-Colleges .score-bg span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #035577;
}
#Top-Colleges  .link {
    background: #29ABE2;
    border-radius: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.top-ranked {
    background: #1DB954;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
#trending h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
#trending h2{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #2B2B2B;
} 
#trending  h6{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #FFD600;
}
#trending  .add-place{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #6F6F6F;
}
#trending  h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #29ABE2;
}
#trending .fee-detail{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #131313;
}
#trending .date{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1DB954;
}
#JEE-Main-syllabus h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}
#JEE-Main-syllabus .btn{
    background-color: transparent;
}
#JEE-Main-syllabus .card{
    background: #F4F4F4;
    border-radius: 10px;
    border: transparent;
}
#JEE-Main-syllabus .card-body {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -11px;
    z-index: -1;
}
/****************************************apply navbar**************************/
#how-apply p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #1E1E1E;
}
#how-apply h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #1DB954;
}
#how-apply h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#how-apply h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #29ABE2;
}
#how-apply h4{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #202020;
}
#Application-Form a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #1DB954;
}
#JEE-Main-Registration-Dates h4{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #141414;
}
#JEE-Main-Registration-Dates .btn{
    background: #1DB954;
    border-radius: 10px;
    width: 210px;

}
#JEE-Main-Registration-Dates .btn-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#Application-fee-in-offline-mode p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #636363;
}
#Application-fee-in-online-mode p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #636363;
}
#Registration-Dates .btn{
    background: #1DB954;
    border-radius: 10px;
    width: 210px;

}
#Registration-Dates .btn-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#Registration-Dates h4{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #141414;
}
#Registration-Dates h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#Eligibility-Criteria p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #1E1E1E;
}
#Eligibility-Criteria h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #1DB954;
}
#Eligibility-Criteria h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#Documents-Required h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2; 
}
#JEE-Main-Registration-Fee h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2; 
}

#Form-Correction-Window h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2; 
}
#JEE-Main-Registration-Fee th{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1DB954;
}
#JEE-Main-Registration-Fee .btn{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #1DB954;
    border-radius: 5px;
}
.table-data{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #29ABE2;
}

