@font-face{
    src: url(../font/Inter/static/Inter-Regular.ttf);
    font-family: Inter;
}
@font-face{
    src: url(../font/Poppins/Poppins-Light.ttf);
    font-family: Poppins;
}
body{
    cursor: pointer;
}
.container{
    max-width: 1440px !important;
}
 *{
    padding: 0;
    margin: 0;
    font-family: "inter";
    } 
    #upper-header{
        background: #000000;
        
        }
        #upper-header h1{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        }
        /**********logo menu**************/
        #logo-menu{
        background: #131921;
        }
        #logo-menu h5,#logo-menu h6{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        }
        #logo-menu h6{
        font-size: 10px;
        }
        .input-group.md-form.form-sm.form-2 input {
        border: 1px solid #bdbdbd;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        }
        .input-group.md-form.form-sm.form-2 input.red-border {
        border: 1px solid #ef9a9a;
        }
        .input-group-text{
        background-color: #fff !important;
        color: #29ABE2 !important;
        }
        .form-control{
        background-color: #fff !important;
        border: 1px solid #fff !important;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04) !important;
        border-radius: 6px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        }
        /*********************main-navbar********************/
        #main-navbar li a{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 10px 31px;
        }
        .dropdown-menu{
        background: #FFFFFF !important;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
        border-radius: 3px;
        color: #000;
        position: absolute;
        left: -63px !important; 
        top: 12px !important;
        border: transparent;
        width: 195px;
        }
        .dropdown-menu h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #000000;
        }
        .dropdown-menu h2{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        }
        .dropdown-menu   .online{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #1DB954;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        color: #fff;
        }
        .dropdown-menu h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #676767;
        }
        .notification {
        
        color: white;
        text-decoration: none;
        padding: 4px 13px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
        }
        
        .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 7px;
        border-radius: 50%;
        background-color: #29ABE2;
        color: white;
        }
/******************************college-info****************************/
#college-info .img-bg{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    border: 0px;
}
#college-info h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #2B2B2B;
}
#college-info h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #2B2B2B;
}
#college-info h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #A7A7A7;
    }
#college-info h6::before{
    content: "";
    display: inline-block;
    background-color: #1DB954;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-right: 4px;
}
#college-info h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #2B2B2B;
    }
#college-info .write-review-btn{
    background: #FFD600;
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    border: transparent;
}
#college-info .follow-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #FF0000;
}
#college-info .icon-border{
    border: 1px solid #29ABE2;
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    border-radius: 50px;
}
#college-info .Brochures-btn{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FFA31A;
    border-radius: 10px;
    border: transparent;
}
#college-info .apply-now{
    background: #29ABE2;
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: transparent;
}
/***********************end of college info****************************/
/*********************tabs********************************/
#main-tabs nav > .nav.nav-tabs{
    border: none;
     color:rgba(59, 58, 64, 1);
     background: rgba(244, 244, 244, 0.7);
     border-radius:0;
 
 }
 #main-tabs .nav-tabs a{
     color:rgba(59, 58, 64, 1) !important;
     font-size: 16px;
     font-family: "Poppins";
     font-weight: 400;
     padding: 18px ;
     text-align: center;
 }
 
 #main-tabs div a.nav-item.nav-link.active
 {
   border-top: 5px solid #29ABE2;
    text-align: center;
     color:rgba(41, 171, 226, 1) !important;
     background: #ffffff;
     border-radius:0;
     font-size: 16px;
     font-family: "Poppins";
     font-weight: 600;
     box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);;
 }
 
 #main-tabs nav > div a.nav-item.nav-link.active:after
  {
   content: "";
   position: relative;
   bottom: -54px;
   left: -32%;
   /*border: 11px solid transparent;*/
   border-top-color: #ffffff;
   box-shadow: 0 0 0px #e5e5e5;
 }
 #main-tabs #nav-tabContent .tab-content{
   background: #fdfdfd;
     line-height: 25px;
     padding:30px 25px;
     box-shadow: 0 0 5px #e5e5e5;
   
 }
 
 #main-tabs nav > div a.nav-item.nav-link:hover,
 #main-tabs nav > div a.nav-item.nav-link:focus
 {
    background:rgba(255, 255, 255, 1);
     color:rgba(59, 58, 64, 1);
     
 }
  #jee-main-overview{
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 }
 #jee-main-overview{
     height: 500px;
 }
 #jee-main-overview h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
 }
 #jee-main-overview ul{
     list-style: none;
     
 }
 #jee-main-overview li a{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #29ABE2;
    text-decoration: none;
 }
 #jee-main-overview a:hover{
    background: #EFEFEF;
    mix-blend-mode: normal;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    
   
    color: #1F1F1F;
    padding: 10px 5px;
 }
 #jee-main-overview li a.active {
    background: #EFEFEF;
    mix-blend-mode: normal;
   /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);*/
    border-radius: 6px;
   
    color: #1F1F1F;
    padding: 10px 15px;
 }
  .tab-pane-overview{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
 }
 .img-bg{
    border: 1px solid #29ABE2;
    border-radius: 50%;
    padding: 5px;
}
#jee-main-detail h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#jee-main-detail p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    color: #3B3A40;
}
#jee-main-detail .btn{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #29ABE2;
    border-radius: 2px;
}
#JEE-Main-Highlights h5{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1DB954;
}
#JEE-Main-Highlights h5::before{
    content: "";
    display: inline-block;
    background-color: #1DB954;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    margin-right: 3px;
}
#JEE-Main-Highlights p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2B2B2B;
}
#JEE-Main-Registration p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    color: #3B3A40;
}
#JEE-Main-Exam-Pattern p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    color: #3B3A40;
}
#Top-Colleges h5{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

#Top-Colleges h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #29ABE2;
}
#Top-Colleges .score-bg {
    text-align: center;
    background: rgba(41, 171, 226, 0.2);
    border-radius: 2px;
    width: 48px;
}
#Top-Colleges .score-bg span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #035577;
}
#Top-Colleges  .link {
    background: #29ABE2;
    border-radius: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.top-ranked {
    background: #1DB954;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
#trending h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
#trending h2{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #2B2B2B;
} 
#trending  h6{
    font-family: Inter !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 11px !important;
    color: #FFD600 !important;
}
#trending  .add-place{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    color: #6F6F6F;
}
#trending h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #29ABE2;
}
#trending .fee-detail{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: #131313;
}
#trending .date{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #1DB954;
}
#JEE-Main-syllabus h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}
#JEE-Main-syllabus .btn{
    background-color: transparent;
}
#JEE-Main-syllabus .card{
    background: #F4F4F4;
    border-radius: 10px;
    border: transparent;
}
#JEE-Main-syllabus .card-body {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -11px;
    z-index: -1;
}
/****************************************apply navbar**************************/
#how-apply p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #1E1E1E;
}
#how-apply h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #1DB954;
}
#how-apply h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#how-apply h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #29ABE2;
}
#how-apply h4{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #202020;
}
#Application-Form a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #1DB954;
}
#JEE-Main-Registration-Dates h4{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #141414;
}
#JEE-Main-Registration-Dates .btn{
    background: #1DB954;
    border-radius: 10px;
    width: 210px;

}
#JEE-Main-Registration-Dates .btn-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#Application-fee-in-offline-mode p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #636363;
}
#Application-fee-in-online-mode p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #636363;
}
#Registration-Dates .btn{
    background: #1DB954;
    border-radius: 10px;
    width: 210px;

}
#Registration-Dates .btn-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#Registration-Dates h4{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #141414;
}
#Registration-Dates h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#Eligibility-Criteria p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #1E1E1E;
}
#Eligibility-Criteria h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #1DB954;
}
#Eligibility-Criteria h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#Documents-Required h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2; 
}
#JEE-Main-Registration-Fee h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2; 
}

#Form-Correction-Window h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2; 
}
#JEE-Main-Registration-Fee th{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1DB954;
}
#JEE-Main-Registration-Fee .btn{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #1DB954;
    border-radius: 5px;
}
.table-data{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #29ABE2;
}
/*******************************syllabus*****************************/
#Syllabus-PDF h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
    }
    #Syllabus-PDF p{
        font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
    color: #1E1E1E;
}
#Syllabus-PDF h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #29ABE2;
    }
    #Syllabus-PDF .btn{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        background: #1DB954;
        border-radius: 5px;
    }
    #JEE-Main-Physics-Syllabus h6{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #29ABE2;  
    }
    #JEE-Main-Physics-Syllabus p{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        text-align: justify;
        color: #000000; 
    }
    #JEE-Main-Physics-Syllabus h3{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
       
        color: #1DB954; 
    }
    #JEE-Main-Physics-Syllabus h5{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-align: justify;
        color: #29ABE2;
    }
    #JEE-Main-Physics-Syllabus h5::before{
        content: "";
        display: inline-block;
        background-color: #1DB954;
        width: 8px;
        height: 8px;
        border-radius: 50px;
        margin-right: 4px;
    }
    #JEE-Main-Chemistry-Syllabus h6{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #29ABE2;  
    }
    #JEE-Main-Chemistry-Syllabus p{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
        color: #000000;
    }
    #JEE-Main-Chemistry-Syllabus .syllabus-bg{
        background: #FEFEFE;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
    }
    #JEE-Main-Chemistry-Syllabus h3{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #1DB954; 
    }
    #JEE-Main-Chemistry-Syllabus h5{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-align: justify;
        color: #29ABE2;
    }
    #JEE-Main-Chemistry-Syllabus h5::before{
        content: "";
        display: inline-block;
        background-color: #1DB954;
        width: 8px;
        height: 8px;
        border-radius: 50px;
        margin-right: 4px;
    }
    #JEE-Main-Math-Syllabus  h6{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #29ABE2;  
    }
    #JEE-Main-Math-Syllabus p{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
        color: #000000;
    }
    #JEE-Main-Math-Syllabus .syllabus-bg{
        background: #FEFEFE;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
    }
    #JEE-Main-Math-Syllabus h3{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #1DB954; 
    }
    #JEE-Main-Math-Syllabus h5{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-align: justify;
        color: #29ABE2;
    }
    #JEE-Main-Math-Syllabus h5::before{
        content: "";
        display: inline-block;
        background-color: #1DB954;
        width: 8px;
        height: 8px;
        border-radius: 50px;
        margin-right: 4px;
    }
    /**********************************mock test***********************/
    #nav-Mock  h6{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #29ABE2;  
    }
    #nav-Mock  p{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
        color: #202020;  
    }
    #Official-NTA-Mock-Test  h3{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
        color: #1DB954;  
    }
    #Official-NTA-Mock-Test  h2{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
        color: #29ABE2;  
    }
    #JEE-Main-2021-Mock-Test h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-align: justify;
        color: #29ABE2;

    }
    #JEE-Main-2021-Mock-Test th{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: justify;
        color: #1DB954;
    }
    #JEE-Main-2021-Mock-Test td{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: justify;
        color: #29ABE2;
    }
    #JEE-Main-2021-Mock-Test .btn{
        background: #1DB954;
        border-radius: 5px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
    /**********************************admit card***********************/
    #Admit-Card-2021-Dates th{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: justify;
        color: #1DB954;
    }
    #Admit-Card-2021-Dates td{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: justify;
        color: #29ABE2;
    }
    #Admit-Card-2021-Dates .btn{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        background: #1DB954;
        border-radius: 5px;
    }
    #nav-admit h6{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #29ABE2;
}
    #nav-admit p{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        text-align: justify;
        color: #1E1E1E;
}

#Steps-download-Admit-Card h3{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
        color: #1DB954;
    }
#Admit-Card-Highlights .btn{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #FFFFFF;
    background: #1DB954;
    border-radius: 5px;
    }
    #Points-to-Remember p{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: #636363;
    }

    /*************************************rank***************************/
    #nav-rank h6{
     font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#Rank-Predictor label{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #131313;
}
#Rank-Predictor .form-control{
    background: #EFEFEF !important;
    border-radius: 10px !important;
    box-shadow: none;
    border: none !important;
}
#Rank-Predictor input::placeholder{
    font-size: 13px !important;
    color: #B3B1B7 !important;
}
#Rank-Predictor .btn{
    background: #29ABE2;
    border: 1px solid #29ABE2;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
#nav-rank p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
}
/***********************************cutoff**********************/
#nav-cuttoff h6{
    font-family: Poppins;
       font-style: normal;
       font-weight: 600;
       font-size: 25px;
       line-height: 37px;
       color: #29ABE2;
   }
   #nav-cuttoff p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
   }
   #Expected-Cutoff th, #Cutoff-Dates th{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #1DB954;
   }
   #Expected-Cutoff td, #Cutoff-Dates td{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #29ABE2;
   }
   #Expected-Cutoff .btn, #Cutoff-Dates .btn{
    background: #1DB954;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
   }
   .blue-para{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    color: #29ABE2 !important;
   }
   /**************************************faq**********************************/
   #FAQ{
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}
#FAQ h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
    text-align: center;
}
#FAQ .img-bg{
    border: 1px solid #29ABE2;
    border-radius: 50%;
    padding: 5px;
}
.img-bg{
    border: 1px solid #29ABE2;
    border-radius: 50%;
    padding: 5px;
}
#FAQ .question{
    background: #F4F4F4;
    /*box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.08);
    border-radius: 10px;*/
    }
    #FAQ .question h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
    text-align: left;
    }
    #FAQ #addsymbol{
    text-align: end;
    font-size: 28px;
    /* font-weight: 600; */
    color: white;
    cursor: pointer;
    }
    #FAQ .card{
    /*box-shadow: 0 0 0px 0 !important;*/
    }
    
    #FAQ .answer{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: justify;
    color: #3B3A40;
    }
    #FAQ .question1{
    /*background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
    border-radius: 20px;*/
    }
    #FAQ button:focus {
    outline: 0px !important;
    border: 0px !important;
    box-shadow: 0px !important;
    }
    #FAQ button:hover {
    outline: 0px !important;
    border: 0px !important;
    box-shadow: 0px !important;
    }
    #FAQ .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 !important;
    }
    #FAQ .card-header{
    background-color: white !important;
    border-bottom:0px !important;
    padding: 0px !important;
    }
    #FAQ .card-body{
    /*background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /*margin-top: -11px;*/
    z-index: -1;
    }
    #collapseOne{
        background-color: #fff;
    }
    #FAQ .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px !important;
        box-shadow: 0 0 4px rgba(59, 58, 64, 0.08) !important;
        border-radius: 1.5rem !important;
        
        }
/******************************rating*****************/
#college-rating h2{
    color:rgba(43, 43, 43, 1) ;
    font-family: "Poppins";
    font-size:25px ;
    font-weight: 600;
}
#college-rating h6{
    color:#29ABE2 ;
    font-family: "Poppins";
    font-size:20px ;
    font-weight: 600;
}
#college-rating .checked{
    color: orange;
}
#college-rating .text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2;
}
#college-rating .img-bg{
    border: 1px solid #29ABE2;
    border-radius: 50%;
    padding: 5px;
}
#college-rating .component-rating{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
}
.college-review{
background-color: rgba(196, 196, 196, 1);
border-radius: 50px;   
color: rgba(0, 0, 0, 1);
font-size: 16px;
font-family: "Poppins"; 
}
.text-review{
    margin-left: -58px;
}
.view-more-rating a:hover{
    text-decoration: none;
}
/* bubble box */
.view-more-change-review {
    color: #29abe2 !important;
}
.comment__arrow {
    left: 43px;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent rgba(196, 196, 196, 0.2);
    position: absolute;
    top: -20px;
  }
  
  #comment__bubble {
    background: rgba(196, 196, 196, 0.2);
    padding: 9px 24px 5px 24px;
    margin-bottom: 12px;
    border-radius: 50px;
    position: relative;
  }
  #comment__bubble p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
  }
  .comment__bubble--write {
    background: transparent;
    border: 1px solid #EDF1EE;
    padding: 19px 24px 0 24px;
  }
  
  .comment__bubble--write .comment__arrow {
    border-color: transparent;
  }
  #text-review .img-bg{
    border: 1px solid #29ABE2;
    border-radius: 50%;
    padding: 5px;  
  }
  #text-review h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #29ABE2; 
  }
  #text-review span{
    font-size: 15px;
    color: rgba(168, 168, 168, 1);
    font-weight: 500;
    font-family: "Poppins";
  }
  /****************************footer*******************************/
  .footer h5{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    text-transform: uppercase;
  }
  .footer ul{
      list-style: none;
  }
  .footer a{
      text-decoration: none;
      color: rgba(100, 98, 106, 1);
      font-size: 14px;
      font-family: "inter";
      
  }
  .footer span {
      font-size: 12px;
      color:rgba(100, 98, 106, 1);
  }
  .footer label {
    font-size: 12px;
    color:rgba(100, 98, 106, 1);
}
.footer option {
    font-size: 12px;
    color:rgba(100, 98, 106, 1);
}
.centered{
    border: 1px solid #29ABE2;
    height: 30px;
    width: 30px;
    border-radius: 31px; 
    text-decoration: none;
    background-color: #29ABE2;
    color: white;
    font-weight: 700;
    font-size: 19px;
    transition: transform .2s;
}
.centered:hover{
    transform: scale(1.2);
}
/***************************************media queries********************/
@media (min-width: 357px) and (max-width: 767px) {
    .tab-pane-overview{
       
    }
    #jee-main-overview{
      
    }
    #JEE-Main-Math-Syllabus  h6{
       font-size: 20px;
          }
#JEE-Main-Physics-Syllabus  h6{
font-size: 20px;
    }
#JEE-Main-Chemistry-Syllabus  h6{
font-size: 20px;
    }
    #Expected-Cutoff .table-responsive{
        width: 82%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
#jee-main-overview{
   
}
}





































 



 









