@font-face{
    src: url(../font/Inter/static/Inter-Regular.ttf);
    font-family: Inter;
}
@font-face{
    src: url(../font/Poppins/Poppins-Light.ttf);
    font-family: Poppins;
}
*{
    padding: 0;
    margin: 0;
    font-family: "inter";
    
} 
body{
   
}
.container{
    max-width: 1440px !important;
}
#upper-header{
    background: #000000;
    
}
#upper-header h1{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
}
/**********logo menu**************/
#logo-menu{
    background: #131921;
}
#logo-menu h5,#logo-menu h6{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
color: #FFFFFF;
}
#logo-menu h6{
    font-size: 10px;
}
.input-group.md-form.form-sm.form-2 input {
border: 1px solid #bdbdbd;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
border: 1px solid #ef9a9a;
}
.input-group-text{
background-color: #fff !important;
color: #29ABE2 !important;
}
.form-control{
background-color: #fff !important;
border: 1px solid #fff !important;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04) !important;
border-radius: 6px !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 0px !important;
}
/*********************main-navbar********************/
#main-navbar li a{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
padding: 10px 31px;
}
.dropdown-menu{
    background: #FFFFFF !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    color: #000;
    position: absolute;
    left: -63px !important; 
    top: 12px !important;
    border: transparent;
    width: 195px;
}
.dropdown-menu h1{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
text-transform: uppercase;
color: #000000;
}
.dropdown-menu h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    }
    .dropdown-menu   .online{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1DB954;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    color: #fff;
    }
    .dropdown-menu h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #676767;
        }
/**************************profile-post*********/
#profile-post .profile-bg{
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
border-radius: 10px;
border-top: 3px solid #29ABE2;
border-radius: 10px 10px 0px 0px;
}
#profile-post .profile-bg h2{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 37px;
color: #000000;
}
#profile-post .profile-bg span{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
color: #A5A5A5;
}
#profile-post .profile-bg h3{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}
#profile-post .profile-bg .link{
background: #29ABE2;
border-radius: 5px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;


border: 0px;
color: #FFFFFF;
}
#profile-post .profile-bg .msg{
background: #5C5C5C;
border-radius: 5px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;


border: 0px;
color: #FFFFFF;
}
.align-btn{
display: flex;
justify-content: center;
align-items: center;
}
/*****************************about-profile*************/
#about-profile{
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
#about-profile h1{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #000000;
}
#about-profile h2{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #5B5B5B;
}
#about-profile h3{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
color: #29ABE2;
}
#about-profile p{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #818181;
}
ul{
list-style: none;
}
.notification {

color: white;
text-decoration: none;
padding: 4px 13px;
position: relative;
display: inline-block;
border-radius: 2px;
}

.notification:hover {
background: red;
}

.notification .badge {
position: absolute;
top: -10px;
right: -10px;
padding: 5px 7px;
border-radius: 50%;
background-color: #29ABE2;
color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color: #29ABE2 !important;
border: none;
border-bottom: 2px solid #29ABE2 !important;
}
.img-2{
    display: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .img-2{
    display: inline-block;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .img-1{
    display: none;
}
#tabs a{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #2E2E2E;
}
.nav-tabs{
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
border-radius: 5px;
border-bottom: none !important;
}
.nav-tabs .nav-link{
border: none !important;
}
#tabs .tab-pane-1{
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
#tabs h1{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #000000;
}
#tabs h2{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #A5A5A5;
}
#tabs h3{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 12px;
color: #0E0E0E;
}
#tabs h4{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
color: #989898;
}
#tabs p{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #515151;
}
/******************recomend***************/
#recomend{
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
#recomend h1{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #000000;
}
#recomend h4{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
color: #000000;
}
#recomend h6{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #A5A5A5;
}
#recomend h5{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #29ABE2;
}
#recomend .link{
background: #29ABE2;
border-radius: 50px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 10px;
color: #FFFFFF;
}
#trending{
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
#trending h1{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #000000;
}
#trending h2{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
color: #2B2B2B;
}
#trending h3{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #8B8989;
}
/**********************repost***********************/

    
 .repost-notification span{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #717171;
background: #FAFAFA;
    border-radius: 5px;

}
/****************************footer*******************************/
.footer h5{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    text-transform: uppercase;
  }
  .footer ul{
      list-style: none;
  }
  .footer a{
      text-decoration: none;
      color: rgba(100, 98, 106, 1);
      font-size: 14px;
      font-family: "inter";
      
  }
  .footer span {
      font-size: 12px;
      color:rgba(100, 98, 106, 1);
  }
  .footer label {
    font-size: 12px;
    color:rgba(100, 98, 106, 1);
  }
  .footer option {
    font-size: 12px;
    color:rgba(100, 98, 106, 1);
  }
  .centered{
    border: 1px solid #29ABE2;
    height: 30px;
    width: 30px;
    border-radius: 31px; 
    text-decoration: none;
    background-color: #29ABE2;
    color: white;
    font-weight: 700;
    font-size: 19px;
    transition: transform .2s;
  }
  .centered:hover{
    transform: scale(1.2);
  }
 
    .drop_arrow {
        left: 125px;
        border-style: solid;
        border-width: 7px 0px 10px 13px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: -14px;
        transform: rotate(
    -91deg);
}